body {
    background-color: aqua;
    width: 400px; /* largura da página */
    margin: auto;
    padding-top: 50px;
}

div {
    margin-bottom: 30px;
}

input {
    background-color: red;
}

#divGeral{
    border-radius: 15px;
    background-color: white;
    padding: 50px;
}