body {
    width: 800px;
    background-color: cyan;
    margin: 100px auto;
}
#container {
    background-color: green;
    text-align: center;
    border-radius: 15px;
}
#botao {
    padding-top: 50px;
}
#result {
    padding-top: 50px;
    padding-bottom: 50px;
}